<%=link_to "New Request", new_path, class: 'btn btn-default'%>
<hr>
<h3>Requests</h3>
<table class="table table-bordered">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Department</th>
    <th>Message</th>
    <th>Actions</th>
  </tr>
  <%@requests.each do |x|%>
  <tr>
    <td><%=x.name%></td>
    <td><%=x.email%></td>
    <td><%=x.department%></td>
    <td><%=x.message%></td>
    <td><%=link_to "Show", show_request_path(x.id)%>
        <%=link_to "Edit", edit_request_path(x.id)%> 
        <%=link_to "Delete", delete_request_path(x.id), data: {confirm: "Are you sure?"}%></td>
  <tr>
  <%end%>
</table>